.chooseBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #283B42;
}

.marginBottomMinWidth{
    margin-bottom: 24px;
    min-width: 100px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.d-none{
    display: none;
}

.questionCard{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    top: -1000px;
    margin-top: 32px;
    max-width: 500px;
    width: 100% !important;
    transition: all 125ms ease-in-out;
    border: 1px solid #1D6A96;
    color: white;
    border: 1px solid #283B42;
}

img{
    max-width: 498px;
    max-height: 383px;
    object-fit: cover;
    background-color: aquamarine;
}

.answerContainer{
    display: flex;
    flex-direction: column;
}

.background{
    background-color: #1D6A96;
}

.containerBottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.success{
    background-color: #FFC107;
}

.wrong{
    background-color: darkgrey;
}

.difficulty{
   font-size: 22px;
   background-color: #FFC107 !important;
}

.btn-light:not([disabled]):not(.disabled).active,
.btn-light:not([disabled]):not(.disabled):active,
.btn-light:not([disabled]):not(.disabled).hover,
.btn-light:not([disabled]):not(.disabled):hover {
    color: #111 !important;
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}
