body {
    font-family: cursive, sans-serif;
}

.head {
    color: white;
    margin-bottom: 64px;
}

.chooseBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #283B42;
}

.difficultyBtn:hover {
    background-color: aquamarine;
    color: black;
}

.marginBottomMinWidth {
    margin-bottom: 24px;
    min-width: 100px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.d-none {
    display: none;
}

.questionCard {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -1000px;
    margin-top: 32px;
    max-width: 500px;
    width: 100% !important;
    transition: all 125ms ease-in-out;
    border: 1px solid #1D6A96;
    color: white;
    border: 1px solid #283B42;
}

img {
    max-width: 498px;
    max-height: 383px;
    object-fit: cover;
    background-color: aquamarine;
}

.answerContainer {
    display: flex;
    flex-direction: column;
}

.background {
    background-color: #1D6A96;
}

.containerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.success {
    background-color: aquamarine;
}

.wrong {
    background-color: darkgrey;
}

.difficulty {
    font-size: 22px;
    background-color: aquamarine !important;
}

.btn-light:not([disabled]):not(.disabled).active,
.btn-light:not([disabled]):not(.disabled):active,
.btn-light:not([disabled]):not(.disabled).hover,
.btn-light:not([disabled]):not(.disabled):hover {
    color: #111 !important;
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}

.bodyEnd {
    text-align: center;
    font-size: 48px;
    height: 422px;
    Padding-top: 64px;
}

.btnRight {
    display: flex;
    justify-content: end;
}

.btnEnd {
    margin-top: 64px;
    margin-right: 48px;
    background-color: aquamarine;
}

.btnEnd:hover {
    opacity: 0.8;
    background-color: aquamarine;
    border-color: aquamarine;
}

.nextBtn {
    background-color: aquamarine !important;
    border-color: aquamarine !important
}

.porgressColor {
    background-color: aquamarine !important;
}

@media screen and (max-width:500px) {
    .bodyEnd {
        font-size: 38px;
    }

    .questionCard {
        height: 100%;
        margin-top: 0;
    }

    .btnEnd {
        margin-top: 20%;
    }
}

@media screen and (max-height:800px) {
    img{
        max-height: 210px;
    }
}